@keyframes gradient {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(-60deg);
    }
    90% {
        filter: hue-rotate(60deg);
    }
    100% {
         filter: hue-rotate(0deg);
     }
}

@keyframes gradient-120 {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(120deg);
    }
    100% {
         filter: hue-rotate(0deg);
     }
}

@keyframes gradient-180 {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
         filter: hue-rotate(0deg);
     }
}

@keyframes gradient-240 {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(240deg);
    }
    100% {
         filter: hue-rotate(0deg);
     }
}
@keyframes gradient-360 {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    // 100% {
    //      filter: hue-rotate(-0deg);
    //  }
}