$margin-padding: var(--margin-padding);
$margin-padding-mobile: var(--margin-padding-mobile);
$body-style-space : var(--body-style-space);
$smooth-width : var(--smooth-width);
$box-padding: var(--box-padding);

// Line-background
$padding: 33%;
$padding-laptop: 25%;
$padding-mobile: 15%;

$lg-padding: 20%;
$lg-padding-laptop: 17.5%;
$lg-padding-mobile: 10%;